In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset = pd.read_csv('insurance_pre.csv')

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset = pd.get_dummies(dataset, dtype=int, drop_first=True)

In [5]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [6]:
indep=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]
dep=dataset['charges']

In [7]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(indep,dep,test_size=0.30,random_state=0)

In [8]:
from sklearn.preprocessing import StandardScaler
SC=StandardScaler()
X_train=SC.fit_transform(X_train)
X_test=SC.transform(X_test)

In [9]:
X_train

array([[-1.5330973 , -0.40713453, -0.89833872, -0.97676557, -0.50466988],
       [-0.03364163,  0.32855417, -0.89833872, -0.97676557, -0.50466988],
       [ 0.89459283,  2.56690911,  3.25603402, -0.97676557, -0.50466988],
       ...,
       [ 0.03776102, -0.91016269, -0.89833872,  1.02378711, -0.50466988],
       [-1.46169465,  0.76659782, -0.89833872,  1.02378711, -0.50466988],
       [-0.46205754, -1.96596021, -0.06746417, -0.97676557, -0.50466988]])

In [10]:
X_test

array([[ 0.89459283, -0.08863026, -0.06746417,  1.02378711, -0.50466988],
       [ 0.53757957, -0.22180837, -0.06746417, -0.97676557, -0.50466988],
       [ 0.60898222,  1.57449152,  0.76341038,  1.02378711,  1.98149332],
       ...,
       [ 1.10880078,  1.20785059, -0.89833872,  1.02378711, -0.50466988],
       [ 1.75142463,  1.34905148, -0.06746417,  1.02378711, -0.50466988],
       [ 1.60861933, -0.92299913, -0.89833872, -0.97676557, -0.50466988]])

In [11]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor
param_grid = {'criterion':['squared_error','friedman_mse','absolute_error','poisson'],'max_features': [None,'sqrt','log2'],'n_estimators':[50,100]}
grid = GridSearchCV(RandomForestRegressor(), param_grid, refit = True, verbose=3,n_jobs=-1)
regressor=grid.fit(X_train,y_train)
y_pred=regressor.predict(X_test)
y_pred

Fitting 5 folds for each of 24 candidates, totalling 120 fits

C:\Users\swath\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py:547: FitFailedWarning:
30 fits failed out of a total of 120.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
21 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\swath\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 895, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\swath\anaconda3\Lib\site-packages\sklearn\base.py", line 1467, in wrapper
    estimator._validate_params()
  File "C:\Users\swath\anaconda3\Lib\site-packages\sklearn\base.py", line 666, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\swath\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'criterion' parameter of RandomForestRegressor must be a str among {'squared_error', 'friedman_mse', 'absolute_error', 'poisson'}. Got 'absolute error' instead.

--------------------------------------------------------------------------------
7 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\swath\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 895, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\swath\anaconda3\Lib\site-packages\sklearn\base.py", line 1467, in wrapper
    estimator._validate_params()
  File "C:\Users\swath\anaconda3\Lib\site-packages\sklearn\base.py", line 666, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\swath\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'criterion' parameter of RandomForestRegressor must be a str among {'poisson', 'absolute_error', 'friedman_mse', 'squared_error'}. Got 'absolute error' instead.

--------------------------------------------------------------------------------
2 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\swath\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 895, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\swath\anaconda3\Lib\site-packages\sklearn\base.py", line 1467, in wrapper
    estimator._validate_params()
  File "C:\Users\swath\anaconda3\Lib\site-packages\sklearn\base.py", line 666, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\swath\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'criterion' parameter of RandomForestRegressor must be a str among {'friedman_mse', 'absolute_error', 'poisson', 'squared_error'}. Got 'absolute error' instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\swath\anaconda3\Lib\site-packages\sklearn\model_selection\_search.py:1051: UserWarning: One or more of the test scores are non-finite: [0.80284677 0.80299408 0.81193952 0.8141309  0.80588217 0.80965259
 0.80354804 0.80023379 0.81056132 0.81129381 0.80795346 0.81225741
        nan        nan        nan        nan        nan        nan
 0.80084411 0.80586491 0.80465394 0.81379223 0.81297163 0.81294744]
  warnings.warn(

array([10648.0546578 ,  9045.7581732 , 43094.847525  , 13864.8145305 ,
       11041.5312797 , 10648.6575877 ,  2445.0723935 , 11362.9018312 ,
        8426.134496  ,  6633.769123  ,  6106.6603375 , 13480.9142845 ,
        8346.6172797 ,  6780.897669  , 22770.0156075 , 12427.2943371 ,
       14061.8818907 ,  4080.9319247 ,  6909.4965546 , 32142.0457271 ,
       24514.5214115 , 18551.6243312 , 10412.5235627 , 27818.1650209 ,
        2419.9083745 ,  6774.7276302 ,  4278.1428274 ,  8498.1016856 ,
        3689.9896855 , 12624.8913159 ,  8679.8849076 , 44879.6515791 ,
       14987.271766  , 12985.117563  , 17306.6544126 ,  4330.7493135 ,
        9522.8217836 , 37826.2599959 , 38533.801203  ,  2450.5277078 ,
        5819.1917659 ,  3212.5528556 , 19965.9560876 , 46483.2810115 ,
       38020.7841008 ,  4236.8142901 , 12702.666019  ,  6540.0661015 ,
        5902.9121571 , 13040.1051952 ,  4176.245288  ,  4494.8545416 ,
       26974.0078085 , 45428.9029696 , 11654.6944115 , 11312.9220149 ,
        4713.9828119 , 11500.5146602 , 10259.2954785 , 15419.94862   ,
        2415.4846094 , 44337.5614318 , 16132.1261178 , 19119.8292651 ,
       11003.4960972 , 10512.8362502 , 31734.7776457 , 39452.8384    ,
        5525.5558885 ,  9795.580007  , 15924.4923131 , 11459.663301  ,
       17035.8184044 , 15816.7346188 , 13609.5657628 , 14906.3942156 ,
        9040.9732288 , 16908.9265006 , 20064.0852115 , 44697.6847465 ,
       11576.817162  , 46212.2538922 ,  3629.8994983 ,  9570.5856408 ,
       39063.0365687 , 19301.3882505 ,  5676.6322766 ,  3205.6840714 ,
       12903.9387973 , 38493.0283607 ,  6264.0744686 , 16354.9295524 ,
        4232.9176487 , 10661.4532925 , 10283.6935192 ,  4805.1309162 ,
       41601.3882073 , 39421.5738933 ,  5771.541726  , 10685.7099365 ,
        4226.7313453 ,  7785.2449912 ,  7904.5413599 , 38177.5769976 ,
       25842.787041  ,  4588.2548473 , 11194.958815  ,  4169.8092425 ,
       11510.1703035 , 44846.064204  , 11504.0605865 ,  6662.779936  ,
       10191.5315646 , 33791.5624049 , 44171.1988927 ,  7521.2614747 ,
        3004.689132  , 12095.1593624 , 16198.2443978 , 11197.900093  ,
       41871.3309854 , 11288.9777383 , 14551.3891836 ,  7510.7680405 ,
       11401.0581814 ,  6223.6470309 , 23833.6374811 , 24157.0122408 ,
       46559.309579  ,  2499.7014879 , 11305.650576  ,  3051.2896685 ,
        7496.7516398 ,  9150.0471906 , 32711.0838744 , 35535.7196582 ,
       24945.7005281 , 12450.4754727 , 23715.2434126 ,  5236.7077991 ,
        2179.1267522 , 12653.8121548 , 10479.0812125 , 11791.1417393 ,
        5819.8868983 , 15141.326065  , 18408.3885091 , 13101.3055864 ,
        1954.704851  , 11428.6108277 ,  7125.3922781 , 37794.7396188 ,
        9960.3349762 ,  5817.6723278 ,  3462.84816712,  8016.0354066 ,
        3517.9779365 ,  5943.1707839 , 12422.4680886 , 10319.6352824 ,
        5200.0664098 , 12896.327237  , 13934.8189837 ,  9276.4738525 ,
        4092.7001986 ,  6171.0776647 , 17875.6580621 ,  9684.5173839 ,
        5174.7318116 ,  2288.0666275 ,  8404.7939915 ,  6005.2779257 ,
       10388.4600943 ,  3842.9087106 ,  6433.291115  ,  6519.0600227 ,
        4878.2288886 ,  6723.6352968 , 30485.6191049 ,  1902.2881008 ,
       17004.9252217 ,  6707.2984185 , 11555.2489251 ,  5722.3196907 ,
        8093.054566  , 27071.1337144 ,  3311.1221112 ,  2937.4420974 ,
       14193.7480455 , 10713.2775653 , 41829.3441104 ,  7967.6946557 ,
        5674.141409  , 27436.1301797 ,  3879.5807436 ,  3276.0584406 ,
        9046.5929717 ,  6779.0852746 ,  9546.2626709 ,  4542.3160966 ,
       11429.9556759 , 43709.178945  , 18261.1643334 , 18914.8087959 ,
       11948.3216958 , 43796.7034809 ,  4543.7821359 ,  9873.7375057 ,
       10095.1601796 ,  3307.1153115 ,  9004.9624005 , 13662.7012827 ,
        6849.6149332 ,  4666.3306078 ,  6575.579276  ,  5838.7028258 ,
        6619.9688534 ,  6744.3684746 , 13524.8885645 ,  6874.5203905 ,
        8740.8898452 ,  8606.6286767 , 11220.6179841 ,  7883.7091639 ,
       12363.3065167 , 14659.9836245 , 21173.9308484 , 13218.0390858 ,
        6995.4192513 ,  2887.3795682 ,  4985.6782638 ,  7877.3668685 ,
       14942.1369364 ,  7700.2352063 ,  7063.4444378 ,  7552.5051744 ,
       14998.2410398 , 33674.0276477 ,  5867.034816  , 11404.6947307 ,
        6802.4001644 , 37248.1800852 , 10513.8106566 ,  8065.8895037 ,
       10031.4180179 , 11033.7792943 ,  3351.6179455 ,  8123.7547136 ,
        5263.0875292 ,  6150.4957944 , 19640.3792758 , 44514.408115  ,
        6146.5892996 ,  5993.2607001 ,  5155.929379  ,  1527.7661135 ,
        8611.0649498 ,  3434.05714638,  6398.1439283 , 11123.2226469 ,
        8825.8515083 , 25383.3607768 , 43262.2866518 , 16068.6656121 ,
        6440.1292465 , 10872.8897    , 42633.1859766 , 11078.2378034 ,
       38991.77877   ,  1501.1039725 , 38937.9280248 ,  5749.3004119 ,
       12226.0221261 ,  8417.6463804 , 39087.9033707 ,  5674.0538312 ,
       10234.0997201 , 10027.9020818 ,  5447.4773409 , 16086.4660709 ,
       12335.8943459 , 11638.2788593 , 15575.1749292 , 14015.782112  ,
        7722.965259  ,  3748.5272766 ,  9610.8812688 , 21264.8463662 ,
        4605.4718877 ,  1907.3932593 ,  3000.0874885 , 45603.2271287 ,
       10234.0048153 ,  4971.4611305 , 17777.5559653 , 12106.4424881 ,
       33838.3523866 ,  8448.1351539 ,  5143.2589984 ,  9455.8991991 ,
        3964.1580026 ,  5387.3144608 , 20844.086357  , 17213.3485629 ,
       13195.4185411 ,  2829.8834942 ,  4181.5158517 , 11513.7197988 ,
       10677.3162232 , 17839.643553  , 20120.9763699 ,  7339.2684527 ,
       17644.7900897 ,  2870.744433  ,  6654.7077295 , 10511.0431733 ,
       16280.1412691 ,  3147.614631  ,  8165.8521309 , 45714.0223925 ,
        5307.1146365 ,  5125.4299427 ,  2094.7955785 , 12946.4173241 ,
        4296.0501889 , 12052.193476  , 43454.003574  , 18352.4729595 ,
        9614.6429477 , 40845.0617582 , 18211.2563197 , 11555.0464053 ,
       10839.8337808 ,  4960.9729465 , 27965.3503066 ,  4488.7381644 ,
       14514.8541011 ,  3083.6440737 , 17540.1956783 ,  3358.3376553 ,
       24636.7606657 ,  8112.040765  ,  5312.0566083 , 39085.5768858 ,
        8795.4397531 ,  5313.047425  , 32270.7584154 ,  4023.4921661 ,
       11380.3468833 ,  3990.3224301 , 12521.9832581 ,  3343.068234  ,
        6613.451404  ,  6588.0838216 , 44215.6526696 , 10177.9870293 ,
       34795.960306  , 37790.4932783 ,  5959.8358479 ,  9334.2383326 ,
        2095.6854561 ,  5772.1313707 ,  4216.4075099 ,  9345.0515225 ,
       45754.458458  , 11356.629957  ,  2075.0911555 , 12502.1545254 ,
        2242.6297312 , 13633.9696877 ,  9914.7048326 ,  2557.841491  ,
        5288.633645  , 36062.4933771 ,  6578.0790194 ,  2131.938634  ,
       39931.7976883 , 11836.2103771 , 44567.8839138 , 11513.706263  ,
        7029.9075074 ,  2702.5392439 ,  2143.0153165 , 14504.3145085 ,
        5946.1081726 ,  2039.4838352 , 10508.8532237 ,  7252.040975  ,
        6235.3513133 ,  8176.7396351 ,  8437.8476544 , 40063.3488522 ,
        4304.3123416 , 16070.4218874 ,  7136.35181581, 13016.4746714 ,
       10818.761382  ,  7906.9198954 , 18433.4913415 , 12732.7765763 ,
       17425.5991211 , 19287.565308  ])

In [12]:
from sklearn.metrics import r2_score
r_score=r2_score(y_test,y_pred)
r_score

0.8698139180112616

In [13]:
re=grid.cv_results_
print("The R_score value for best parameter {}:".format(grid.best_params_))

The R_score value for best parameter {'criterion': 'squared_error', 'max_features': 'sqrt', 'n_estimators': 100}:

In [14]:
table=pd.DataFrame.from_dict(re)

In [15]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.503938,0.020724,0.026472,0.009059,squared_error,None,50,"{'criterion': 'squared_error', 'max_features':...",0.862070,0.766703,0.816401,0.799731,0.769329,0.802847,0.035016,16
1,1.119621,0.095296,0.030576,0.000707,squared_error,None,100,"{'criterion': 'squared_error', 'max_features':...",0.862998,0.766347,0.816628,0.801631,0.767367,0.802994,0.035779,15
2,0.447843,0.076890,0.019263,0.001742,squared_error,sqrt,50,"{'criterion': 'squared_error', 'max_features':...",0.865195,0.789576,0.812639,0.823305,0.768983,0.811940,0.032592,6
3,0.920656,0.075556,0.031482,0.005459,squared_error,sqrt,100,"{'criterion': 'squared_error', 'max_features':...",0.866666,0.791760,0.813709,0.831369,0.767151,0.814131,0.033955,1
4,0.441891,0.028353,0.018482,0.002983,squared_error,log2,50,"{'criterion': 'squared_error', 'max_features':...",0.850904,0.786354,0.801525,0.821921,0.768707,0.805882,0.028519,11
5,0.886833,0.056183,0.036462,0.005265,squared_error,log2,100,"{'criterion': 'squared_error', 'max_features':...",0.866913,0.787036,0.803856,0.829581,0.760878,0.809653,0.036332,9
6,0.602372,0.058771,0.024035,0.008819,friedman_mse,None,50,"{'criterion': 'friedman_mse', 'max_features': ...",0.861449,0.765596,0.818556,0.802910,0.769229,0.803548,0.035203,14
7,1.110824,0.092097,0.029219,0.002844,friedman_mse,None,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.859518,0.763941,0.807376,0.805527,0.764806,0.800234,0.035117,18
8,0.458820,0.042551,0.017167,0.003226,friedman_mse,sqrt,50,"{'criterion': 'friedman_mse', 'max_features': ...",0.862847,0.786568,0.801431,0.830378,0.771583,0.810561,0.032573,8
9,0.872929,0.028748,0.037533,0.007468,friedman_mse,sqrt,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.859649,0.792256,0.805646,0.829681,0.769237,0.811294,0.031111,7
10,0.472672,0.017327,0.018258,0.002430,friedman_mse,log2,50,"{'criterion': 'friedman_mse', 'max_features': ...",0.861113,0.787644,0.805432,0.815652,0.769926,0.807953,0.030823,10
11,0.848329,0.045081,0.031547,0.003819,friedman_mse,log2,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.864145,0.790013,0.809910,0.828282,0.768937,0.812257,0.032638,5
12,0.000902,0.001803,0.000000,0.000000,absolute error,None,50,"{'criterion': 'absolute error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,19
13,0.000570,0.000707,0.000000,0.000000,absolute error,None,100,"{'criterion': 'absolute error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,19
14,0.000493,0.000620,0.000000,0.000000,absolute error,sqrt,50,"{'criterion': 'absolute error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,19
15,0.004038,0.003151,0.000000,0.000000,absolute error,sqrt,100,"{'criterion': 'absolute error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,19
16,0.003516,0.003249,0.000000,0.000000,absolute error,log2,50,"{'criterion': 'absolute error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,19
17,0.001011,0.001238,0.000000,0.000000,absolute error,log2,100,"{'criterion': 'absolute error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,19
18,0.605396,0.052699,0.017109,0.002792,poisson,None,50,"{'criterion': 'poisson', 'max_features': None,...",0.860872,0.768098,0.808815,0.798970,0.767466,0.800844,0.034225,17
19,1.237256,0.072537,0.028434,0.003909,poisson,None,100,"{'criterion': 'poisson', 'max_features': None,...",0.866372,0.770493,0.818544,0.805915,0.768000,0.805865,0.036075,12
20,0.497069,0.030623,0.016486,0.003521,poisson,sqrt,50,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.855744,0.782297,0.794670,0.821326,0.769232,0.804654,0.030797,13
21,0.994981,0.098582,0.030286,0.002202,poisson,sqrt,100,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.859405,0.797202,0.813753,0.829227,0.769374,0.813792,0.030223,2
22,0.543047,0.083805,0.022508,0.006195,poisson,log2,50,"{'criterion': 'poisson', 'max_features': 'log2...",0.863561,0.792073,0.812545,0.829102,0.767577,0.812972,0.032610,3
23,0.964435,0.072762,0.028592,0.004339,poisson,log2,100,"{'criterion': 'poisson', 'max_features': 'log2...",0.862442,0.797370,0.810105,0.830170,0.764650,0.812947,0.032649,4