In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset = pd.read_csv('insurance_pre.csv')

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset = pd.get_dummies(dataset, dtype=int, drop_first=True)

In [5]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [6]:
indep=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]
dep=dataset['charges']

In [7]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(indep,dep,test_size=0.30,random_state=0)

In [8]:
from sklearn.preprocessing import StandardScaler
SC=StandardScaler()
X_train=SC.fit_transform(X_train)
X_test=SC.transform(X_test)

In [9]:
X_train

array([[-1.5330973 , -0.40713453, -0.89833872, -0.97676557, -0.50466988],
       [-0.03364163,  0.32855417, -0.89833872, -0.97676557, -0.50466988],
       [ 0.89459283,  2.56690911,  3.25603402, -0.97676557, -0.50466988],
       ...,
       [ 0.03776102, -0.91016269, -0.89833872,  1.02378711, -0.50466988],
       [-1.46169465,  0.76659782, -0.89833872,  1.02378711, -0.50466988],
       [-0.46205754, -1.96596021, -0.06746417, -0.97676557, -0.50466988]])

In [10]:
X_test

array([[ 0.89459283, -0.08863026, -0.06746417,  1.02378711, -0.50466988],
       [ 0.53757957, -0.22180837, -0.06746417, -0.97676557, -0.50466988],
       [ 0.60898222,  1.57449152,  0.76341038,  1.02378711,  1.98149332],
       ...,
       [ 1.10880078,  1.20785059, -0.89833872,  1.02378711, -0.50466988],
       [ 1.75142463,  1.34905148, -0.06746417,  1.02378711, -0.50466988],
       [ 1.60861933, -0.92299913, -0.89833872, -0.97676557, -0.50466988]])

In [11]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor
param_grid = {'criterion':['squared_error','friedman_mse','absolute error','poisson'],'max_features': [None,'sqrt','log2'],'n_estimators':[50,100]}
grid = GridSearchCV(RandomForestRegressor(), param_grid, refit = True, verbose=3,n_jobs=-1)
regressor=grid.fit(X_train,y_train)
y_pred=regressor.predict(X_test)
y_pred

Fitting 5 folds for each of 24 candidates, totalling 120 fits

C:\Users\swath\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py:547: FitFailedWarning:
30 fits failed out of a total of 120.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
17 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\swath\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 895, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\swath\anaconda3\Lib\site-packages\sklearn\base.py", line 1467, in wrapper
    estimator._validate_params()
  File "C:\Users\swath\anaconda3\Lib\site-packages\sklearn\base.py", line 666, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\swath\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'criterion' parameter of RandomForestRegressor must be a str among {'absolute_error', 'friedman_mse', 'poisson', 'squared_error'}. Got 'absolute error' instead.

--------------------------------------------------------------------------------
9 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\swath\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 895, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\swath\anaconda3\Lib\site-packages\sklearn\base.py", line 1467, in wrapper
    estimator._validate_params()
  File "C:\Users\swath\anaconda3\Lib\site-packages\sklearn\base.py", line 666, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\swath\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'criterion' parameter of RandomForestRegressor must be a str among {'poisson', 'squared_error', 'friedman_mse', 'absolute_error'}. Got 'absolute error' instead.

--------------------------------------------------------------------------------
4 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\swath\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 895, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\swath\anaconda3\Lib\site-packages\sklearn\base.py", line 1467, in wrapper
    estimator._validate_params()
  File "C:\Users\swath\anaconda3\Lib\site-packages\sklearn\base.py", line 666, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\swath\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'criterion' parameter of RandomForestRegressor must be a str among {'squared_error', 'absolute_error', 'friedman_mse', 'poisson'}. Got 'absolute error' instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\swath\anaconda3\Lib\site-packages\sklearn\model_selection\_search.py:1051: UserWarning: One or more of the test scores are non-finite: [0.80053418 0.80157131 0.81223273 0.81287402 0.81171206 0.81033998
 0.79976001 0.80294581 0.81235934 0.81315122 0.81270128 0.81226698
        nan        nan        nan        nan        nan        nan
 0.80153535 0.80386725 0.80930835 0.81136037 0.80739374 0.81023982]
  warnings.warn(

array([10236.0166186 ,  9347.1398102 , 44902.7070422 , 13556.065461  ,
        9807.6673376 ,  9967.624355  ,  2497.3015805 , 11554.8949583 ,
        8007.7823538 ,  5831.4005835 ,  6724.2626272 , 14643.464845  ,
        7981.1888244 ,  5892.7926777 , 24535.4336935 , 13079.3719705 ,
       13231.1865927 ,  4091.0119589 ,  6465.5453311 , 31733.8770195 ,
       24173.193435  , 17097.3577133 ,  9837.9443096 , 25244.3314686 ,
        2875.9902605 ,  7127.0404736 ,  4517.0876979 ,  8455.0837543 ,
        3696.221895  , 10756.622062  ,  8054.1791379 , 46899.0969541 ,
       15640.7758028 , 14283.7975142 , 17605.5210374 ,  4845.5501227 ,
        9722.5028104 , 38353.0004503 , 37149.290646  ,  2060.230749  ,
        5913.3589457 ,  3546.4126696 , 20525.8284757 , 47133.9028069 ,
       36511.4502138 ,  3629.1693383 , 13205.549517  ,  6495.4440505 ,
        6008.6365178 , 14258.982409  ,  4002.40769   ,  4689.8741036 ,
       26444.2095464 , 46650.2321356 , 11579.81269   ,  9681.7598115 ,
        3784.6613944 ,  9864.7811753 ,  9446.3811271 , 15743.0645266 ,
        1898.4540755 , 42929.7359018 , 14661.4483342 , 19020.1728575 ,
       12513.7325014 , 10107.2709279 , 30206.6699678 , 38137.8266048 ,
        4363.9554801 ,  9668.7997113 , 15549.9674326 , 11601.3431297 ,
       16991.0974348 , 15104.2127808 , 14005.4449295 , 14705.5924033 ,
       10975.5578048 , 15405.9297612 , 20745.794897  , 44597.341253  ,
       11360.872956  , 45944.6380704 ,  4445.389542  ,  9900.9562484 ,
       40789.2910227 , 20010.6590075 ,  5812.3607669 ,  3289.7810629 ,
       13040.370298  , 36311.3940346 ,  6219.9934742 , 14882.8486704 ,
        3310.5672264 ,  9939.3829235 , 10816.4037859 ,  4766.6679718 ,
       42849.1247514 , 39775.1962445 ,  5521.9754624 , 10921.6796055 ,
        3776.6147041 ,  7490.0545867 ,  8122.9269004 , 37505.4731901 ,
       25522.4001455 ,  4830.8256041 , 11557.3653942 ,  4131.7314688 ,
       11831.5223423 , 44349.6244094 , 11757.666683  ,  6973.5315435 ,
        9877.2111539 , 33216.6210529 , 45541.1786431 ,  7905.4959142 ,
        2356.308106  , 10671.6811695 , 15789.6640162 , 10580.2560801 ,
       41632.197558  , 10717.9466039 , 14177.1356362 ,  8004.7932271 ,
       10647.5845067 ,  5449.3728359 , 24135.2531388 , 24756.988127  ,
       47369.7529074 ,  2224.1520166 , 13003.2277978 ,  4423.2385063 ,
        8089.7922339 ,  9520.7975298 , 35215.7653242 , 35381.2423406 ,
       27195.6769358 , 13714.4392103 , 24700.1846663 ,  4965.7585446 ,
        2314.7469202 , 14124.7629535 , 10619.0745399 , 11282.7093372 ,
        6798.5637752 , 13979.458622  , 17536.282596  , 11849.2433483 ,
        1915.8729701 , 11989.13705   ,  6738.7025936 , 37128.996985  ,
       10202.7438495 ,  6885.6426991 ,  3767.551523  ,  8621.7233357 ,
        4548.1588774 ,  6992.1373195 , 13079.3719705 , 10369.4032997 ,
        7079.642497  , 12928.0820681 , 13277.5824565 ,  9503.3601337 ,
        3997.3174239 ,  8677.0805983 , 17716.4095784 ,  9704.5193737 ,
        5153.0953701 ,  2305.42912646,  8651.9452748 ,  5424.6396182 ,
       11601.4335632 ,  2951.6913045 ,  8074.8496085 ,  8628.6428426 ,
        4544.0735185 ,  6376.9275106 , 29862.0015555 ,  1969.9241764 ,
       16626.8192085 ,  6094.367178  , 11278.2232312 ,  6767.2468026 ,
        7958.9957986 , 27440.3441686 ,  4521.4275804 ,  3185.4077035 ,
       14000.334566  , 10985.9693807 , 41904.9746349 ,  8066.332007  ,
        5434.5628895 , 27995.189737  ,  3712.7254026 ,  2568.5905359 ,
        7696.1286434 ,  7798.9835961 ,  8433.7652958 ,  4486.875659  ,
       12326.9039835 , 43343.8506775 , 17712.883079  , 19499.4495997 ,
       11020.8210128 , 44083.0654058 ,  4398.1111506 ,  9447.5261969 ,
       10224.476634  ,  5201.969106  ,  8563.683833  , 14205.7039808 ,
        6751.9584791 ,  4745.491076  ,  6721.7818857 ,  5273.5817947 ,
        6692.1200304 ,  6154.5922159 , 13772.95924   ,  6932.6244245 ,
       10730.502532  ,  8022.000036  , 10682.2315486 ,  8064.4351539 ,
       12838.8691227 , 14420.351686  , 20568.5099729 , 13036.2165687 ,
        6706.238325  ,  2808.4608405 ,  5795.9117154 ,  8080.0658192 ,
       14423.7501188 ,  7669.2938776 ,  6978.3340332 ,  7896.4048819 ,
       13405.4351961 , 33996.0053967 ,  5964.9719784 , 12475.1481204 ,
        7931.5976671 , 37661.199167  , 10187.1968799 ,  8861.7302149 ,
       11217.4770746 , 10926.1818038 ,  3486.7087416 ,  8106.55813   ,
        5461.2333496 ,  6626.2595915 , 19772.6540198 , 44439.0991982 ,
        6420.373562  ,  5930.3539353 ,  5223.9649485 ,  1962.9874106 ,
        8585.3428699 ,  3601.16572036,  6001.5359021 , 11233.925382  ,
        8972.1950769 , 24855.223148  , 43623.1507549 , 16541.2012023 ,
        6262.1419329 , 11009.1859295 , 40759.5484216 , 10990.1582201 ,
       38396.8229756 ,  1159.818213  , 37663.0659464 ,  6205.93794   ,
       12592.4196094 ,  7860.9548064 , 38629.7229453 ,  5901.9170509 ,
       10592.902207  ,  9764.2213498 ,  4802.3933833 , 16091.4090585 ,
       11920.9592917 , 12249.8529525 , 14964.4668024 , 11900.140443  ,
        7766.7698677 ,  6195.4835589 ,  9245.5627923 , 22591.4852198 ,
        4828.7873182 ,  1835.0856635 ,  2965.954084  , 46326.4263938 ,
       10181.1234254 ,  4511.0006602 , 16533.46044   , 12926.731726  ,
       34181.117593  ,  8696.3620628 ,  5965.9243266 ,  9799.4485299 ,
        5582.940784  ,  4140.8597574 , 20775.0324395 , 17925.5907582 ,
       13341.5003152 ,  2799.78501   ,  4057.4781328 ,  9863.7247353 ,
       10287.0781449 , 16528.0307781 , 20235.7630795 ,  7603.2030058 ,
       17235.5958748 ,  2242.234681  ,  8226.0337506 ,  9130.5485497 ,
       14965.5700899 ,  3001.9758085 ,  8452.5638191 , 44601.8410681 ,
        4851.1519043 ,  5924.2785772 ,  2006.888835  , 13282.5739159 ,
        3971.8568469 , 12470.5567601 , 43598.547126  , 19222.560091  ,
        9738.4434503 , 42405.9471728 , 17994.9093238 , 11370.3804151 ,
        9901.505547  ,  6726.0404449 , 28112.738759  ,  4415.8431855 ,
       14599.8217316 ,  2890.3019419 , 17084.3342874 ,  3587.2125634 ,
       25229.0800267 ,  8605.6847257 ,  4432.0757191 , 39467.9456784 ,
        8066.0460415 ,  5268.505975  , 29988.0239076 ,  6001.0658866 ,
        9267.409587  ,  3434.5534772 , 12951.5280583 ,  3465.110308  ,
        7240.8119678 ,  7502.426039  , 43185.3901222 , 10725.4264789 ,
       34958.2844972 , 37768.8654208 ,  5867.6535754 , 10311.6246013 ,
        2048.8229169 ,  5973.6211967 ,  4823.2496471 ,  8838.1166983 ,
       45268.756981  , 11636.7322436 ,  2270.146678  , 12610.4635379 ,
        2124.413181  , 12621.7760603 ,  9257.9120058 ,  3827.2025226 ,
        4896.640538  , 36341.0726405 ,  6891.972625  ,  2110.4221515 ,
       41033.5639744 , 11476.2114293 , 43084.0367746 , 12108.6786152 ,
        6832.6325296 ,  2589.0913049 ,  2393.75706   , 14094.2103841 ,
        5618.7920453 ,  2432.0172572 , 10782.9947713 ,  7131.032119  ,
        7309.6504223 ,  8232.5651708 ,  8640.0010716 , 41222.1422645 ,
        4985.4536517 , 14355.5714611 ,  7703.47818548, 12956.1396258 ,
       10817.2139257 ,  7922.9399625 , 18409.3216645 , 12915.8479462 ,
       16784.4748662 , 19171.9875725 ])

In [12]:
from sklearn.metrics import r2_score
r_score=r2_score(y_test,y_pred)
r_score

0.8706735581818207