In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset = pd.read_csv('insurance_pre.csv')

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset = pd.get_dummies(dataset, dtype=int, drop_first=True)

In [5]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [6]:
indep=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]
dep=dataset['charges']

In [7]:
from sklearn.preprocessing import StandardScaler
SC=StandardScaler()
indep=SC.fit_transform(indep)

In [8]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor
param_grid = {'criterion':['squared_error','friedman_mse','absolute error','poisson'],'max_features': [None,'sqrt','log2'],'n_estimators':[50,100]}
grid = GridSearchCV(RandomForestRegressor(), param_grid, refit = True, verbose=3,n_jobs=-1)
regressor=grid.fit(indep,dep)
y_pred=regressor.predict(indep)
y_pred

Fitting 5 folds for each of 24 candidates, totalling 120 fits

C:\Users\swath\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py:547: FitFailedWarning:
30 fits failed out of a total of 120.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
15 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\swath\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 895, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\swath\anaconda3\Lib\site-packages\sklearn\base.py", line 1467, in wrapper
    estimator._validate_params()
  File "C:\Users\swath\anaconda3\Lib\site-packages\sklearn\base.py", line 666, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\swath\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'criterion' parameter of RandomForestRegressor must be a str among {'poisson', 'absolute_error', 'squared_error', 'friedman_mse'}. Got 'absolute error' instead.

--------------------------------------------------------------------------------
12 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\swath\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 895, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\swath\anaconda3\Lib\site-packages\sklearn\base.py", line 1467, in wrapper
    estimator._validate_params()
  File "C:\Users\swath\anaconda3\Lib\site-packages\sklearn\base.py", line 666, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\swath\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'criterion' parameter of RandomForestRegressor must be a str among {'squared_error', 'absolute_error', 'friedman_mse', 'poisson'}. Got 'absolute error' instead.

--------------------------------------------------------------------------------
3 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\swath\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 895, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\swath\anaconda3\Lib\site-packages\sklearn\base.py", line 1467, in wrapper
    estimator._validate_params()
  File "C:\Users\swath\anaconda3\Lib\site-packages\sklearn\base.py", line 666, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\swath\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'criterion' parameter of RandomForestRegressor must be a str among {'absolute_error', 'friedman_mse', 'poisson', 'squared_error'}. Got 'absolute error' instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\swath\anaconda3\Lib\site-packages\sklearn\model_selection\_search.py:1051: UserWarning: One or more of the test scores are non-finite: [0.82535563 0.82593747 0.83212878 0.83453396 0.83403843 0.83324113
 0.82389227 0.82785594 0.83211233 0.83448141 0.83178575 0.8351135
        nan        nan        nan        nan        nan        nan
 0.82658848 0.82542497 0.83015465 0.83525758 0.83430171 0.83500011]
  warnings.warn(

array([17104.5236622,  2193.8190008,  5349.7339021, ...,  1830.3014695,
        2131.915102 , 28671.094814 ])

In [9]:
from sklearn.metrics import r2_score
r_score=r2_score(dep,y_pred)
r_score

0.9762622475889376

In [10]:
re=grid.cv_results_
print("The R_score value for best parameter {}:".format(grid.best_params_))

The R_score value for best parameter {'criterion': 'poisson', 'max_features': 'sqrt', 'n_estimators': 100}:

In [11]:
table=pd.DataFrame.from_dict(re)

In [12]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.750070,0.203568,0.020832,0.013325,squared_error,None,50,"{'criterion': 'squared_error', 'max_features':...",0.851724,0.758599,0.861356,0.816428,0.838672,0.825356,0.036619,17
1,1.033859,0.375357,0.028243,0.012362,squared_error,None,100,"{'criterion': 'squared_error', 'max_features':...",0.844982,0.771811,0.859631,0.814476,0.838787,0.825937,0.030738,15
2,0.468381,0.049588,0.015020,0.002138,squared_error,sqrt,50,"{'criterion': 'squared_error', 'max_features':...",0.859378,0.770226,0.863939,0.827178,0.839923,0.832129,0.033680,9
3,0.838323,0.058169,0.025198,0.002637,squared_error,sqrt,100,"{'criterion': 'squared_error', 'max_features':...",0.861608,0.782481,0.859115,0.828829,0.840636,0.834534,0.028693,4
4,0.470523,0.067623,0.015000,0.005664,squared_error,log2,50,"{'criterion': 'squared_error', 'max_features':...",0.859173,0.776237,0.867755,0.830175,0.836852,0.834038,0.032039,7
5,0.852828,0.162813,0.028164,0.003566,squared_error,log2,100,"{'criterion': 'squared_error', 'max_features':...",0.856122,0.781692,0.860014,0.829726,0.838651,0.833241,0.028069,8
6,0.603058,0.082827,0.017603,0.004482,friedman_mse,None,50,"{'criterion': 'friedman_mse', 'max_features': ...",0.847424,0.768344,0.853238,0.811829,0.838626,0.823892,0.031187,18
7,1.101242,0.112153,0.032601,0.009459,friedman_mse,None,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.849530,0.769109,0.857953,0.820373,0.842315,0.827856,0.031912,13
8,0.548148,0.069894,0.023528,0.007317,friedman_mse,sqrt,50,"{'criterion': 'friedman_mse', 'max_features': ...",0.858787,0.776849,0.855761,0.825466,0.843700,0.832112,0.030011,10
9,0.860485,0.117757,0.032185,0.017899,friedman_mse,sqrt,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.858717,0.781584,0.862564,0.828053,0.841490,0.834481,0.029205,5
10,0.519677,0.117011,0.016317,0.000359,friedman_mse,log2,50,"{'criterion': 'friedman_mse', 'max_features': ...",0.853066,0.779858,0.859852,0.833104,0.833048,0.831786,0.028073,11
11,0.831224,0.144100,0.022307,0.005616,friedman_mse,log2,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.860533,0.781635,0.862775,0.827979,0.842646,0.835114,0.029594,2
12,0.000000,0.000000,0.000000,0.000000,absolute error,None,50,"{'criterion': 'absolute error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,19
13,0.000202,0.000404,0.000000,0.000000,absolute error,None,100,"{'criterion': 'absolute error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,19
14,0.001812,0.002244,0.000000,0.000000,absolute error,sqrt,50,"{'criterion': 'absolute error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,19
15,0.000475,0.000950,0.000000,0.000000,absolute error,sqrt,100,"{'criterion': 'absolute error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,19
16,0.000502,0.001004,0.000000,0.000000,absolute error,log2,50,"{'criterion': 'absolute error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,19
17,0.002521,0.003278,0.000000,0.000000,absolute error,log2,100,"{'criterion': 'absolute error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,19
18,0.677385,0.128981,0.011408,0.003625,poisson,None,50,"{'criterion': 'poisson', 'max_features': None,...",0.848058,0.769588,0.857714,0.816993,0.840590,0.826588,0.031518,14
19,0.939921,0.087062,0.020395,0.003355,poisson,None,100,"{'criterion': 'poisson', 'max_features': None,...",0.846808,0.772563,0.852478,0.813721,0.841554,0.825425,0.029600,16
20,0.475045,0.048316,0.014806,0.004380,poisson,sqrt,50,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.859809,0.773422,0.854610,0.826497,0.836435,0.830155,0.030818,12
21,0.922596,0.150693,0.027019,0.010617,poisson,sqrt,100,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.862021,0.781916,0.863970,0.828569,0.839811,0.835258,0.029838,1
22,0.375205,0.091195,0.010472,0.001986,poisson,log2,50,"{'criterion': 'poisson', 'max_features': 'log2...",0.860255,0.776634,0.859483,0.834208,0.840928,0.834302,0.030585,6
23,0.976452,0.165051,0.034442,0.009482,poisson,log2,100,"{'criterion': 'poisson', 'max_features': 'log2...",0.859470,0.780486,0.864558,0.827278,0.843208,0.835000,0.030237,3