In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv('insurance_pre.csv')

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'charges'], dtype='object')

In [5]:
dataset = pd.get_dummies(dataset, dtype=int, drop_first=True)

In [6]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [7]:
independent=dataset[['age','bmi', 'children','sex_male','smoker_yes']]
dependent=dataset[['charges']]

In [8]:
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [9]:
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [10]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)

In [11]:
from sklearn.preprocessing import StandardScaler
SC=StandardScaler()
X_train=SC.fit_transform(X_train)
X_test=SC.transform(X_test)

In [12]:
X_test

array([[ 0.89459283, -0.08863026, -0.06746417,  1.02378711, -0.50466988],
       [ 0.53757957, -0.22180837, -0.06746417, -0.97676557, -0.50466988],
       [ 0.60898222,  1.57449152,  0.76341038,  1.02378711,  1.98149332],
       ...,
       [ 1.10880078,  1.20785059, -0.89833872,  1.02378711, -0.50466988],
       [ 1.75142463,  1.34905148, -0.06746417,  1.02378711, -0.50466988],
       [ 1.60861933, -0.92299913, -0.89833872, -0.97676557, -0.50466988]])

In [13]:
X_train

array([[-1.5330973 , -0.40713453, -0.89833872, -0.97676557, -0.50466988],
       [-0.03364163,  0.32855417, -0.89833872, -0.97676557, -0.50466988],
       [ 0.89459283,  2.56690911,  3.25603402, -0.97676557, -0.50466988],
       ...,
       [ 0.03776102, -0.91016269, -0.89833872,  1.02378711, -0.50466988],
       [-1.46169465,  0.76659782, -0.89833872,  1.02378711, -0.50466988],
       [-0.46205754, -1.96596021, -0.06746417, -0.97676557, -0.50466988]])

In [14]:
from sklearn.ensemble import AdaBoostRegressor
from sklearn.datasets import make_regression
regressor = AdaBoostRegressor(random_state=0, n_estimators=50)
regressor=regressor.fit(X_train,y_train)

C:\Users\swath\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1300: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [15]:
y_pred=regressor.predict(X_test)

In [16]:
y_pred

array([14553.50784521, 13802.56972465, 47865.29543781, 14444.51254404,
       12907.00232984,  6912.31668256,  5791.61329319, 14553.50784521,
        8687.92288728,  8663.98408105,  6912.31668256, 14553.50784521,
       13802.56972465,  6912.31668256, 18971.33402691, 14553.50784521,
       14444.51254404,  8663.98408105,  6912.31668256, 37427.68127192,
       26288.19508231, 14553.50784521, 14444.51254404, 26288.19508231,
        5982.00008099,  8663.98408105,  6912.31668256,  8687.92288728,
        6912.31668256, 13802.56972465,  6912.31668256, 47865.29543781,
       14444.51254404, 14444.51254404, 18971.33402691,  6912.31668256,
       13802.56972465, 37427.68127192, 40762.69968952,  5982.00008099,
        6912.31668256,  6912.31668256, 20052.64576923, 47865.29543781,
       37427.68127192,  8663.98408105, 14553.50784521,  6912.31668256,
        6912.31668256, 14553.50784521,  5982.00008099,  5791.61329319,
       26288.19508231, 47865.29543781, 14444.51254404,  6912.31668256,
        6912.31668256, 12907.00232984, 13802.56972465, 16708.77857483,
        5791.61329319, 47865.29543781, 16708.77857483, 14553.50784521,
       13802.56972465, 14553.50784521, 37427.68127192, 40762.69968952,
        3831.92884697,  8687.92288728, 14444.51254404, 14553.50784521,
       18971.33402691, 14444.51254404, 14444.51254404, 14444.51254404,
       10035.64223063, 13802.56972465, 20052.64576923, 47865.29543781,
       14444.51254404, 46261.53943   ,  5982.00008099, 13802.56972465,
       46261.53943   , 20052.64576923,  8663.98408105,  6912.31668256,
       16708.77857483, 37427.68127192,  8663.98408105, 14444.51254404,
        6912.31668256, 13802.56972465,  6912.31668256,  8663.98408105,
       47865.29543781, 46261.53943   ,  8663.98408105, 14444.51254404,
        5982.00008099,  8687.92288728,  8663.98408105, 40762.69968952,
       26288.19508231,  6912.31668256, 14444.51254404,  6912.31668256,
       14444.51254404, 47865.29543781, 14553.50784521,  8663.98408105,
       13802.56972465, 37427.68127192, 47865.29543781,  6912.31668256,
        3831.92884697, 12907.00232984, 16708.77857483, 13802.56972465,
       46261.53943   , 14444.51254404, 14444.51254404,  8663.98408105,
       13802.56972465,  6912.31668256, 26288.19508231, 26288.19508231,
       47865.29543781,  5982.00008099, 13802.56972465,  8663.98408105,
        8687.92288728, 12907.00232984, 26288.19508231, 40762.69968952,
       26288.19508231, 14553.50784521, 26288.19508231,  5791.61329319,
        5982.00008099, 14444.51254404, 13802.56972465, 14444.51254404,
        6912.31668256, 14444.51254404, 16708.77857483,  5791.61329319,
        3831.92884697, 14553.50784521,  6912.31668256, 37427.68127192,
       14553.50784521,  8663.98408105,  8663.98408105,  8687.92288728,
        8663.98408105,  5791.61329319, 14553.50784521, 13802.56972465,
        8663.98408105, 14444.51254404, 14444.51254404, 14553.50784521,
        6912.31668256,  8663.98408105, 18971.33402691,  8663.98408105,
        6912.31668256,  5982.00008099,  8663.98408105,  6912.31668256,
       13802.56972465,  6912.31668256,  8663.98408105,  8663.98408105,
        6912.31668256,  6912.31668256, 26288.19508231,  5791.61329319,
       14553.50784521,  8687.92288728, 14444.51254404,  6912.31668256,
        6912.31668256, 26288.19508231,  5982.00008099,  5791.61329319,
       14444.51254404, 13802.56972465, 47865.29543781,  8663.98408105,
        6912.31668256, 26288.19508231,  6912.31668256,  6912.31668256,
        8687.92288728,  8663.98408105,  8663.98408105,  6912.31668256,
       14553.50784521, 47865.29543781, 14553.50784521, 18971.33402691,
        8663.98408105, 47865.29543781,  6912.31668256, 14444.51254404,
        8687.92288728,  5982.00008099, 13802.56972465, 14444.51254404,
        6912.31668256,  5982.00008099,  6912.31668256,  6912.31668256,
        6912.31668256,  6912.31668256, 16708.77857483,  6912.31668256,
        8663.98408105,  6912.31668256, 12688.01585126,  6912.31668256,
       14444.51254404, 14444.51254404, 14553.50784521, 14444.51254404,
        6912.31668256,  6912.31668256,  5982.00008099, 13802.56972465,
       14444.51254404,  8663.98408105,  6912.31668256,  8687.92288728,
       13802.56972465, 37427.68127192,  6912.31668256, 14553.50784521,
        6912.31668256, 37427.68127192,  8687.92288728, 12688.01585126,
       13802.56972465, 14553.50784521,  5791.61329319, 13802.56972465,
        5791.61329319,  6912.31668256, 18971.33402691, 47865.29543781,
        8663.98408105,  8663.98408105,  5791.61329319,  5791.61329319,
       13802.56972465,  5982.00008099,  6912.31668256,  6912.31668256,
       13802.56972465, 26288.19508231, 47865.29543781, 16708.77857483,
        6912.31668256, 14444.51254404, 37427.68127192, 13802.56972465,
       40762.69968952,  5982.00008099, 37427.68127192,  8663.98408105,
       14553.50784521,  6912.31668256, 40762.69968952,  8663.98408105,
       14444.51254404, 13802.56972465,  8663.98408105, 16708.77857483,
       14444.51254404,  6912.31668256, 14444.51254404,  5982.00008099,
        8687.92288728,  8663.98408105,  8687.92288728, 26288.19508231,
        8663.98408105,  5791.61329319,  3831.92884697, 47865.29543781,
       13802.56972465,  8663.98408105, 14553.50784521, 14553.50784521,
       37427.68127192,  6912.31668256,  8687.92288728, 12907.00232984,
        5982.00008099,  8663.98408105, 18971.33402691, 18971.33402691,
       14444.51254404,  6912.31668256,  8663.98408105, 13802.56972465,
       14444.51254404, 18971.33402691, 20052.64576923,  8663.98408105,
       18971.33402691,  5982.00008099,  6912.31668256,  6912.31668256,
       12688.01585126,  3831.92884697, 12688.01585126, 47865.29543781,
        8663.98408105,  8663.98408105,  3831.92884697, 12688.01585126,
        6912.31668256, 14444.51254404, 47865.29543781, 18971.33402691,
       13802.56972465, 46261.53943   , 14553.50784521,  8663.98408105,
       14553.50784521,  8663.98408105, 26288.19508231,  6912.31668256,
       14444.51254404,  5791.61329319, 18971.33402691,  6912.31668256,
       26288.19508231,  6912.31668256,  6912.31668256, 37427.68127192,
        8663.98408105,  6912.31668256, 26288.19508231,  5982.00008099,
       13802.56972465,  5791.61329319, 13802.56972465,  6912.31668256,
        8663.98408105,  8663.98408105, 47865.29543781, 12688.01585126,
       37427.68127192, 37427.68127192,  6912.31668256,  8687.92288728,
        5791.61329319,  6912.31668256,  8663.98408105, 13802.56972465,
       47865.29543781, 14444.51254404,  5791.61329319, 14444.51254404,
        5982.00008099, 12688.01585126,  6912.31668256,  5982.00008099,
        6912.31668256, 37427.68127192,  6912.31668256,  3831.92884697,
       40762.69968952, 14553.50784521, 47865.29543781, 14444.51254404,
        8663.98408105,  3831.92884697,  5791.61329319, 14553.50784521,
        6912.31668256,  5982.00008099, 14553.50784521,  6912.31668256,
        6912.31668256,  6912.31668256,  5791.61329319, 37427.68127192,
        5982.00008099, 12907.00232984,  5982.00008099,  8687.92288728,
       14444.51254404,  8663.98408105, 18971.33402691, 14444.51254404,
       16708.77857483, 14444.51254404])

In [17]:
from sklearn.metrics import r2_score
r_score=r2_score(y_test,y_pred)

In [18]:
r_score

0.8618083410771146