In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv('50_Startups.csv')
dataset
dataset.columns

Index(['R&D Spend', 'Administration', 'Marketing Spend', 'State', 'Profit'], dtype='object')

In [3]:
dataset = pd.get_dummies(dataset, dtype=int, drop_first=True)
independent=dataset[['R&D Spend','Administration', 'Marketing Spend','State_Florida', 'State_New York']]
dependent=dataset[['Profit']]
independent
dependent

       Profit
0   192261.83
1   191792.06
2   191050.39
3   182901.99
4   166187.94
5   156991.12
6   156122.51
7   155752.60
8   152211.77
9   149759.96
10  146121.95
11  144259.40
12  141585.52
13  134307.35
14  132602.65
15  129917.04
16  126992.93
17  125370.37
18  124266.90
19  122776.86
20  118474.03
21  111313.02
22  110352.25
23  108733.99
24  108552.04
25  107404.34
26  105733.54
27  105008.31
28  103282.38
29  101004.64
30   99937.59
31   97483.56
32   97427.84
33   96778.92
34   96712.80
35   96479.51
36   90708.19
37   89949.14
38   81229.06
39   81005.76
40   78239.91
41   77798.83
42   71498.49
43   69758.98
44   65200.33
45   64926.08
46   49490.75
47   42559.73
48   35673.41
49   14681.40

In [4]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(independent,dependent,test_size=0.30,random_state=42)

In [5]:
from sklearn.preprocessing import StandardScaler
SC=StandardScaler()
X_train=SC.fit_transform(X_train)
X_test=SC.transform(X_test)

In [6]:
import pickle

In [7]:
Preinput=SC.transform([[1234,345,4565,1,0]])

C:\Users\swath\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

In [8]:
Preinput

array([[-1.53518171, -4.82083019, -1.92357213,  1.38443731, -0.6770032 ]])

In [9]:
loaded_model=pickle.load(open("SVM_final.sav",'rb'))
result=loaded_model.predict(Preinput)

In [10]:
result

array([48108.67840693])